body {
  background: #000;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    180deg,
    #112c53 15%,
    #182349 20%,
    #4a1153 29%,
    #112c53 80%
  );
  background-position-y: 900px;
}

#principal {
  background: url("../img/HeroBg.png") no-repeat;
  background-size: cover;
  height: 100%;
}

#principal .navbar-brand img {
  width: 50%;
  margin-top: 20px;
  margin-left: 80px;
}

#principal ul {
  color: #fff;
  margin-left: auto;
  margin-left: 40%;
}

#principal ul a {
  color: #fff;
  font-weight: 200;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.055em;
}

#principal .titulo h1 {
  font-size: 60px;
  color: #fff;
  text-align: left;
  max-width: 500px;
  font-weight: 900;
  margin-left: 100px;
  line-height: 99.52%;
  text-transform: capitalize;
}

#principal .paragrafo p {
  font-weight: normal;
  font-size: 25px;
  line-height: 45px;
  max-width: 380px;
  margin-left: 100px;
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  margin-top: 20px;
}

#principal .botao button {
  margin-top: 20px;
  background: #0ad306;
  letter-spacing: 2px;
  margin-left: 100px;
  font-weight: 400;
  color: #fff;
  width: 323px;
  height: 50px;
  padding-top: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

#principal .botao img {
  width: 25px;
  margin-top: -5px;
  margin-right: 40px;
}

#principal .t2 h5 {
  margin-top: 120%;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

#principal .paragrafo2 .p2 p {
  font-weight: 600;
  color: #fff;
  font-size: 35px;
  line-height: 40px;
  max-width: 400px;
}

#principal .paragrafo2 .p3 p {
  font-weight: 200;
  font-size: 20px;
  max-width: 500px;
  color: #fff;
}

#produtos {
  height: 100%;
  color: #fff;
}

#produtos .browser img {
  margin-top: -20%;
  width: 100%;
}

#produtos .icon img {
  width: 45px;
  margin-left: 50%;
  margin-top: 10px;
}

#produtos .coluna1 {
  display: flex;
  margin-top: 10%;
}

#produtos .titulo h1 {
  font-size: 40px;
  font-weight: 800;
}

#produtos .paragrafo p {
  max-width: 400px;
  margin-left: 10%;
  font-weight: 200;
}

#produtos .coluna2 {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

#cta {
  color: #fff;
}

#cta .paragrafo p {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 30px;
  max-width: 500px;
  font-weight: 600;
  line-height: 48px;
}

#cta .botao {
  margin-top: 15%;
}

#cta .botao button {
  background: #0ad306;
  letter-spacing: 2px;
  margin-left: 0px;
  margin-top: 50px;
  height: 60px;
  font-weight: 600;
  color: #fff;
  width: 323px;
}

#funcionamento {
  color: #fff;
  background: url("../img/linh.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-y: 65%;
  background-position-x: 65%;
}

#funcionamento .titulo h1 {
  font-weight: 800;
  font-size: 40px;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#funcionamento .paragrafo p {
  max-width: 350px;
  margin: 0 auto;
}

#funcionamento .texto p {
  margin-left: 20%;
  font-weight: 100;
  max-width: 500px;
  margin-top: 10%;
  font-size: 18px;
}

#funcionamento .botao button {
  background: #0ad306;
  letter-spacing: 2px;
  margin-left: 20%;
  margin-top: 20px;
  height: 60px;
  font-weight: 600;
  color: #fff;
  width: 323px;
}

#aprova {
  color: #fff;
}

#aprova .titulo h1 {
  font-weight: 800;
  font-size: 40px;
}

#aprova .paragrafo p {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#aprova .card1 {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px;
  margin: 0 auto;
  width: 800px;
  height: 350px;
  border-radius: 60px;
  box-sizing: border-box;
}

#aprova .imagem img {
  width: 300px;
  margin-left: 0%;
}

#aprova .texto p {
  font-weight: 100;
}

#aprova .autor p {
  font-weight: 800;
  font-size: 25px;
}

#decolar {
  color: #fff;
}

#decolar .titulo h1 {
  margin-top: 30px;
  max-width: 400px;
  font-weight: 800;
  margin: 0 auto;
  font-size: 40px;
}

#decolar .paragrafo p {
  font-weight: 100;
}

#decolar .card1 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 40px;
  border-radius: 44px;
  width: 400px;
  margin-left: 100px;
}

#decolar .card2 {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 44px;
  width: 400px;
  height: 350px;
  margin-left: 100px;
}

#decolar .card1 .imagem img {
  width: 130px;
}

#decolar .texto p {
  color: #83e1ff;
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}

#decolar .card2 .imagem img {
  width: 110px;
}

#decolar .row {
  margin-left: 5%;
}

#duvidas {
  color: #fff;
  background: url("../img/astronauta.png") no-repeat;
  background-size: 100%;
  background-position-y: 20%;
}

#duvidas .titulo h1 {
  font-weight: 800;
  margin-top: 0%;
}

.accordeon {
  margin: 0 auto;
  max-width: 660px;
}

.item {
  margin-bottom: 30px;
}

.item-name {
  background: #fff;
  height: 55px;
  border-radius: 43px;
  position: relative;
  z-index: 3;
}

.item-name--white {
  background: #fff;
}

.item-name p {
  color: rgba(116, 68, 246, 0.9);
  font-weight: 900;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  padding: 15px 30px;
  font-size: 15px;
  display: inline-block;
}

.item-arrow {
  border: 8px solid transparent;
  float: right;
  border-top: 15px solid #7444f6;
  margin-top: 15px;
  margin-right: 15px;
}

.item-name:hover {
  cursor: pointer;
}

.item-wrapper {
  background: #fff;
  padding-top: 45px;
  position: relative;
  margin-top: -40px;
  border-radius: 12px;
  display: none;
  transition: all 0.6s ease-in;
  color: #000;
  font-weight: 600;
  font-weight: 500;
}

.item-wrapper ul {
  margin: 0;
  padding: 0 40px 12px;
  position: relative;
}

.item-wrapper ul li {
  list-style: none;
  color: #4f4f4f;
  font-weight: 300;
  margin-top: 10px;
}

.item--open .item-wrapper {
  display: block;
}

.item--open .item-name {
  background: #fff;
}

.item--open .item-arrow {
  border-top: 15px solid #7444f6;
  transform: rotate(180deg);
  position: relative;
  top: -10px;
}
.item--open .item-name p {
  color: rgba(116, 68, 246, 1);
  transition: all ease 0.2s;
}

footer {
  background: linear-gradient(#061122, #030d1c);
  color: #fff;
}

footer .copyright p {
  margin-top: 50px;
  font-weight: 100;
  margin-left: 50px;
}

footer .logo img {
  width: 200px;
  margin-top: 30px;
  margin-left: 50px;
}

footer .icons {
  margin-top: 40px;
}

footer .icons a {
  margin-left: 20px;
}

@media screen and (max-width: 425px) {
  body {
    background: linear-gradient(
      180deg,
      #112c53 15%,
      #182349 20%,
      #4a1153 29%,
      #112c53 80%
    );
  }

  #principal {
    background: url("../img/BgHeroMobile.png") no-repeat;
    background-size: 100%;
  }

  #principal nav {
    display: flex;
    flex-direction: row;
  }

  #principal nav .navbar-brand img {
    width: 200px;
    margin-left: 00px;
  }

  #principal nav span {
    width: 25px;
  }

  #principal nav .navbar-troggler-icon span {
    width: 0;
  }

  #principal nav .navbar-nav {
    background: #7444f6;
    border-radius: 10px;
    width: 100%;
    margin-left: 0;
  }

  #principal nav ul a {
    color: #fff;
    margin-left: 0px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    text-align: center;
    letter-spacing: 2px;
  }

  #principal .titulo h1 {
    margin-left: 0;
    margin-top: -53px;
    max-width: 280px;
    font-size: 35px;
  }

  #principal .paragrafo p {
    margin-left: 0;
    font-size: 20px;
    margin-top: 30px;
    max-width: 250px;
  }

  #principal .botao button {
    margin-left: 0;
    width: 60%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding-right: 10px;
  }

  #principal .botao img {
    margin-right: 10px;
  }

  #principal .t2 h5 {
    margin-top: 330px;
    margin-left: -0%;
  }

  #principal .t3 h5 {
    margin-top: 80px;
  }

  #principal .paragrafo2 p {
    color: #fff;
    max-width: 400px;
  }

  #cta .paragrafo p {
    text-align: center;
    margin: 0 auto;
  }

  #cta .botao button {
    margin-left: 40px;
  }

  #produtos .browser img {
    margin-left: -0px;
    margin-top: -200px;
  }

  #produtos .icon img {
    margin-left: 0px;
    width: 30px;
  }

  #produtos .paragrafo p {
    margin-left: 10px;
  }

  #funcionamento {
    background: url("../img/linhaMobile.png") no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  #funcionamento .card1 img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  #funcionamento .card2 img {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #funcionamento .card3 img {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #funcionamento .card4 img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    margin-top: -40px;
  }

  #funcionamento .card5 img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  #funcionamento .card6 img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  #funcionamento .card7 img {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    margin-top: -70px;
  }

  #funcionamento .texto p {
    margin-left: 12%;
    max-width: 300px;
    text-align: center;
  }

  #funcionamento .botao button {
    margin-left: 5%;
    width: 90%;
  }

  #aprova .card1 {
    border: none;
    height: 550px;
    width: 320px;
  }

  #aprova img {
    border-radius: 50%;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  #aprova .card1 p {
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  #aprova .autor p {
    font-size: 20px;
    text-align: center;
  }

  #decolar .titulo h1 {
    margin-top: 100px;
    width: 100%;
  }

  #decolar .card1 {
    margin-left: 10px;
    margin-bottom: 50px;
    width: 300px;
  }

  #decolar .card2 {
    margin-left: 10px;
    margin-bottom: -100px;
    width: 300px;
  }

  #duvidas {
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 100px;
  }

  #duvidas .p1 p {
    margin-top: -10px;
  }

  #duvidas .item-arrow {
    display: none;
  }

  #duvidas .p4 p {
    align-items: center;
    margin-top: -10px;
  }

  footer .copyright p {
    margin-left: 20%;
    display: none;
  }

  footer .logo img {
    margin-left: 25%;
    width: 150px;
  }

  footer .icons {
    margin-left: 20%;
  }
}

@media screen and (max-width: 375px) {
  #principal .botao button {
    font-size: 14px;
  }

  #principal .botao img {
    width: 20px;
  }

  #cta .botao {
    margin-left: -25px;
  }

  #funcionamento .texto {
    margin-left: -30px;
  }

  #decolar .card1 {
    margin-left: -5px;
  }

  #decolar .card2 {
    margin-left: -5px;
  }
}

@media screen and (max-width: 320px) {
  #principal nav .navbar-brand img {
    width: 150px;
  }

  #principal .titulo h1 {
    font-size: 30px;
    max-width: 200px;
    margin-top: -55px;
  }

  #principal .paragrafo p {
    max-width: 210px;
    margin-top: 20px;
  }

  #principal .botao button {
    width: 280px;
  }

  #principal .t2 {
    margin-top: -30px;
  }

  #cta .botao button {
    margin-left: 30px;
    width: 300px;
  }

  #decolar .card1 {
    margin-left: -30px;
  }

  #decolar .card2 {
    margin-left: -30px;
  }

  #aprova .imagem img {
    width: 200px;
    margin-left: 20px;
  }

  #aprova .paragrafo p {
    margin-left: 0;
  }

  #aprova .card1 {
    border: none;
    width: 300px;
  }
}
